<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DefaultContext" connectionString="server=192.168.0.105;user id=root;password=!QAZ2wsx;persistsecurityinfo=True;port=3306;database=RealEstate"
      providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="Path" value="c:\temp"/>
    <add key="RemoteServer" value="ssh://127.0.0.1"/>
    <add key="RemotePath" value="~/"/>
    <add key="UserName" value="login"/>
    <add key="Password" value="password"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient"/>
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.7.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"/>
    </DbProviderFactories>
  </system.data>
</configuration>
